*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a {
	border: none;
}
body{
	margin: 5px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}
@font-face {
    font-family: BirchC;
    src: local("BirchC"), url(BirchC.otf);
}
/* webkit scroll */
::-webkit-scrollbar {
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
	overflow:visible; 
	width:10px;
}
::-webkit-scrollbar-thumb {
	background-color:rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb:hover {
	background:rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:horizontal {
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb:vertical {
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-track-piece{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
	background-color:#eaeaea;
}
::-webkit-scrollbar-corner {
	background:transparent;
}
::-webkit-scrollbar-thumb {
	background-color: #dfdfdf;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #d0d0d0;
}
/* end webkit scroll */

#header {
	border: 2px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	border-radius: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	padding: 5px 40px;
	background: rgba(200,200,200,1);
}
#content {
	border: 2px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	box-shadow: 0 0 10px rgba(0, 0, 0, .6) inset;
	background: #c0c0c0;
	background: -webkit-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;
}
#footer {
	cursor:pointer;
	text-align: right;
	border: 2px solid #eaeaea;
	border-top: 1px solid #eaeaea;	
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	background: rgba(200,200,200,1);
	padding: 2px 40px;
	color: #aaaaaa;
}
#footer a{
	color: #888888;
}
#footer:hover{
	color: hsl(210, 100%, 40%);
	text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
}
#footer .left{
	display: inline-block;
	line-height: 24px;
	height: 24px;
	float: left;
	vertical-align: middle;
}
#footer .right{
	display: inline-block;
	vertical-align: middle;
	line-height: 24px;
	height: 24px;
}
#footer img{
	opacity: .3;
}
#footer:hover img{
	opacity: .9;
}
.floors{
	height: 881px;
	max-height: 881px;
	overflow-y: hidden;
	padding: 0 0 0 60px;
}
.floor{
	margin: 0px 0 60px 0;
}
.nums{
	float: left;
	width: 70px;
	border: 2px solid #efefef;
	padding: 10px;
	border-radius: 15px;
	margin: 20px 15px;
	box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, .3), 0 0 4px rgba(0, 0, 0, .6) inset;
}
.num{
 	
}
.rooms{
	display: inline-block;
	position: relative;
	width:1000px;
	height: 816px;
	background: url(img/bg.png) no-repeat center center;
}
.room{
	display: block;
	position: absolute;
	width: 48px;
	height: 48px;
	line-height: 48px;
	vertical-align: middle;
	text-align: center;
}
.room img{
	width: 48px;
	height: 48px;
}
.room img.act{
	cursor: pointer;
}
.room-i-a,
.room-i-d,
.room-ii-a,
.room-ii-d{
	top: 135px;
}
.room-i-b,
.room-i-c,
.room-ii-b,
.room-ii-c,
.room-iii-a,
.room-iii-b,
.room-iii-c{
	top: 55px;
}
.room-i-a{
	left: 33px;
}
.room-i-d{
	left: 223px;
}
.room-i-b{
	left: 85px;
}
.room-i-c{
	left: 175px;
}
.room-ii-a{
	left: 285px;
}
.room-ii-d{
	left: 475px;
}
.room-ii-b{
	left: 335px;
}
.room-ii-c{
	left: 425px;
}
.room-iii-a{
	left: 545px;
}
.room-iii-b{
	left: 625px;
}
.room-iii-c{
	left: 715px;
}
.room-iii-d{
	top: 125px;
	left: 775px;
}
.room-iii-e{
	left: 715px;
	top: 200px;
}
.room-iv-a, .room-iv-b{
	top: 270px;
}
.room-iv-a{
	left: 765px;	
}
.room-iv-b{
	left: 855px;
}
.room-iv-c{
	top: 360px;
	left: 895px;
}
.room-iv-d{
	top: 430px;
	left: 845px;
}
.room-iv-e{
	top: 500px;
	left: 800px;
}
.room-v-a{
	top: 520px;
	left: 685px;	
}
.room-v-b{
	top: 600px;
	left: 735px;
}
.room-v-c, .room-v-d{
	top: 680px;
}
.room-v-c{
	left: 695px;	
}
.room-v-d{
	top: 680px;
	left: 605px;
}
/* style */
.metal {
	position: relative;
	margin: 10px auto;
	cursor: pointer;
	font: bold 26px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
	color: hsla(0,0%,20%,1);
	text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
	
	background-color: hsl(0,0%,90%);
	box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, 	/* border */
						inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, 	/* soft SD */
						inset hsla(0,0%,0%, .25) 0 -1px 0px 7px,	/* bottom SD */
						inset hsla(0,0%,100%,.7) 0  2px 1px 7px, 	/* top HL */
						
							  hsla(0,0%, 0%,.15) 0 -5px 6px 4px, 	/* outer SD */
							  hsla(0,0%,100%,.5) 0  5px 6px 4px;	/* outer HL */	
	-webkit-box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, 	/* border */
						inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, 	/* soft SD */
						inset hsla(0,0%,0%, .25) 0 -1px 0px 7px,	/* bottom SD */
						inset hsla(0,0%,100%,.7) 0  2px 1px 7px, 	/* top HL */
						
							  hsla(0,0%, 0%,.15) 0 -5px 6px 4px, 	/* outer SD */
							  hsla(0,0%,100%,.5) 0  5px 6px 4px;	/* outer HL */	
	
	-webkit-transition: color .2s;	
}
.radial.metal {
	width: 64px;
	height: 64px;
	line-height: 64px;
	border-radius: 32px;
	background-image:
	-webkit-radial-gradient( 50% 0%, 9% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%),
	-webkit-radial-gradient( 50% 100%, 11% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%),
	-webkit-radial-gradient( 0% 50%, 50% 9%,rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%),
	-webkit-radial-gradient( 100% 50%, 50% 11%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%),
	-webkit-repeating-radial-gradient(	50% 50%, 100% 100%, transparent 0%, transparent 3%, rgba(0, 0, 0, .1) 2.5%),
	-webkit-repeating-radial-gradient(	50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, .1) 7.3%),
	-webkit-repeating-radial-gradient(	50% 50%, 100% 100%, rgba(255, 255, 255, 0	) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, .2) 2.1%),
	-webkit-radial-gradient(50% 50%, 150% 50%, rgba(230, 230, 230, 1) 6%, rgba(217, 217, 217, 1) 32%, rgba(153, 153, 153, 1) 100%);
	background-image:
	-moz-radial-gradient( 50% 0%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%),
	-moz-radial-gradient( 50% 100%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%),
	-moz-radial-gradient( 0% 50%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%),
	-moz-radial-gradient( 100% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%),
	-moz-repeating-radial-gradient(	50% 50%, transparent 0%, transparent 3%, rgba(0, 0, 0, .1) 2.5%),
	-moz-repeating-radial-gradient(	50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, .1) 7.3%),
	-moz-repeating-radial-gradient(	50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, .2) 2.1%),
	-moz-radial-gradient(50% 50%, rgba(230, 230, 230, 1) 6%, rgba(217, 217, 217, 1) 32%, rgba(153, 153, 153, 1) 100%);
	background-image:
	radial-gradient( 50% 0%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%),
	radial-gradient( 50% 100%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%),
	radial-gradient( 0% 50%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%),
	radial-gradient( 100% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%),
	repeating-radial-gradient(	50% 50%, transparent 0%, transparent 3%, rgba(0, 0, 0, .1) 2.5%),
	repeating-radial-gradient(	50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, .1) 7.3%),
	repeating-radial-gradient(	50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, .2) 2.1%),
	radial-gradient(50% 50%, rgba(230, 230, 230, 1) 6%, rgba(217, 217, 217, 1) 32%, rgba(153, 153, 153, 1) 100%);
}

.metal.radial:before, .metal.radial:after {
	content: "";
	top: 0;
	left: 0;
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	
	/* fake conical gradients */
	background-image: radial-gradient( 50% 0%, 10% 50%, rgba(0, 0, 0, .1) 0%, transparent 100%),
					  radial-gradient( 50% 100%, 10% 50%, rgba(0, 0, 0, .1) 0%, transparent 100%),
					  radial-gradient( 0% 50%, 50% 10%, rgba(0, 0, 0, .1) 0%, transparent 100%),
					  radial-gradient( 100% 50%, 50% 06%, rgba(0, 0, 0, .1) 0%, transparent 100%);
	background-image: -webkit-radial-gradient( 50% 0%, 10% 50%, rgba(0, 0, 0, .1) 0%, transparent 100%),
					  -webkit-radial-gradient( 50% 100%, 10% 50%, rgba(0, 0, 0, .1) 0%, transparent 100%),
					  -webkit-radial-gradient( 0% 50%, 50% 10%, rgba(0, 0, 0, .1) 0%, transparent 100%),
					  -webkit-radial-gradient( 100% 50%, 50% 06%, rgba(0, 0, 0, .1) 0%, transparent 100%);
	background-image: -moz-radial-gradient( 50% 50% 10deg, rgba(0, 0, 0, .1) 0%, transparent 100%);
}
.metal.radial:before { 	-webkit-transform: rotate( 65deg); }
.metal.radial:after {	-webkit-transform: rotate(-65deg); }
.metal:active, .metal.active{
	cursor: default;
	color: hsl(210, 100%, 40%);
	text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
	-webkit-box-shadow: 
					inset hsla(210,100%,30%,  1) 0  0px 0px 4px,
					inset hsla(210,100%,15%, .4) 0 -1px 5px 4px,
					inset hsla(210,100%,20%,.25) 0 -1px 0px 7px,
					inset hsla(210,100%,100%,.7) 0  2px 1px 7px,
						  hsla(210,100%,75%, .8) 0  0px 3px 2px,
						  hsla(210,50%,40%, .25) 0 -5px 6px 4px,
						  hsla(210,80%,95%,   1) 0  5px 6px 4px;
}

.tt .tt-content{
	width: 200px;
	height: 128px;
	padding: 10px;
	left: 50%;
	margin-left: -112px;
	color: #719DAB;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	text-align: center;
	border: 4px solid #fff;
	background: rgba(245,245,245,1);
	text-indent: 0px;
	border-radius: 10px;
	position: absolute;
	top: 55px;
	visibility: visible;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	z-index: 3000;
}
.tt .tt-content:before,
.tt .tt-content:after{
	content: '';
	position: absolute;
	top: -15px;
	left: 50%;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.tt .tt-content:after{
	top: -14px;
	margin-left: -10px;
	border-bottom: 10px solid #fff;
}
.tt:hover .tt-content{
	visibility: visible;
	background: rgba(245,245,245,1);
}
.tt-top{
	height: 80px;
}
.tt-ava{
	display: inline-block;
	float: left;
	border: 1px solid #fff;
	width: 46px;
	height: 46px;
	background: rgba(215,215,215,.9);
}
.tt-info{
	display: inline-block;
	float: left;
	margin: 0 0 0 10px;
	height: 78px;
	width: 140px;
	border-radius: 10px;
	background: rgba(235,235,235,.9);
	line-height: 78px;
	word-wrap: break-word;
}
.tt-info div {
	display: inline-block;
	font: normal 22px/26px BirchC;
}
.tt-bot{
	display: inline-block;
	height: 38px;
	width: 100%;
	line-height: 32px;
	vertical-align: middle;
	margin: 10px 0 0 0;
	background: rgba(235,235,235,.9);
}
.soc-btn{
	display: inline-block;
	line-height: 32px;
	vertical-align: middle;
	height: 32px;
	width: 32px;
	margin: 2px;
	opacity: .2;
}
.soc-btn.act{
	opacity: .8;
}
.soc-btn.act:hover{
	opacity: 1 !important;
}
.soc-btn a img{
	width: 32px;
	height: 32px;
}